

div .product-card{
    width: 30%;
    align-items: center;
}

.active {
    font-weight: bold;
    color: #000000;
}

.barraNav {
    position: sticky;
    align-items: center;
    width: auto;
    justify-content: center;
    background-color: black;
}

a .nav-link {
    color: black;
}

.navlink2 {
    color: rgb(255, 255, 255);
    font-size: larger;
    text-shadow: 10px 10px #eeeeee;
}

.carrito{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: cornflowerblue;
}

nav div a li {
    float: left;
}
   nav div a li {
        display: block;
        padding: 20px;
        color: rgb(235, 235, 235);
        text-decoration: none;
    }
        nav div a li a:hover {
            background: #ffffff
        }

.menu-fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    max-width: 1500px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, .8);
}


div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 5px;
}

nav div .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta {
    width: 500px;
    margin: 700px;
}

img {
    width: 300px;
    height: 400px;
}

.carrito {
    width: 60px;
    height: 60px;
    margin: 15px;
    box-shadow: slategrey;
}

main .detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.selectconteo{
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.formulario{
    margin: 50px;
    padding: 50px;
}

.datos{
font-style: italic;
font-size: 24px;
}

.large{
    width: 100%;
}

.terminarSeguir {
    width: 100%;
    margin: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

#listarproduct{
    width: 100%;
}

@media screen and (max-width: 600px) {
    .navbar-light .container{
        flex: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    
    }
    
    .navbar-expand {
        flex: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
      
    }
}

