body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    background: #226c6e;
    background: -webkit-linear-gradient(left, #b16a41, #d3bada);
    background: -moz-linear-gradient(left, #b16a41, #d3bada);
    background: -o-linear-gradient(left, #b16a41, #d3bada);
    background: linear-gradient(to right, #b16a41, #d3bada);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
